@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Kumar One", serif;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;

}
.container{
    background-color: rgb(20, 53, 221);
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    flex-direction: column;
    gap: 25PX;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}
.container__texto{
    height: 200px;
    border: none;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0);
    width: 300px;
}
h1{
    font-size: 25px;
}
.container__butao{
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: rgb(16, 214, 16);
    border: 2px solid black; 
}
.container__butao:hover{
    cursor: pointer;
    background-color: rgb(136, 255, 0);
    width: 160px;
}



